In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/Social_Network_Ads.csv")

In [ ]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df=data.drop(['User ID'],axis=1) #removing unwanted column

In [ ]:
df['Gender']=df['Gender'].apply({'Male':1,'Female':2}.get)

In [ ]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       2   26            43000          0
3       2   27            57000          0
4       1   19            76000          0

In [ ]:
x=df[['Gender','Age','EstimatedSalary']]
y=df['Purchased']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75) #75% of data for training and rest 25% of data for testing

creating a ML model using KNN algorithm

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5) #n_neighbors is value of K=5

In [ ]:
#training - .fit()
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [ ]:
#prediction - .predict()
y_pred=knn.predict(x_test)

In [ ]:
y_pred

array([1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1])

In [ ]:
#calculating the accuracy of the ML model
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [ ]:
print(cm)

[[55 10]
 [ 9 26]]

In [ ]:
print(ac)

0.81

H.W. Calculate the result of purchase for a new customer

In [ ]:
#Creatiing data for new customer
my_data={'Gender':1,'Age':27,'EstimatedSalary':90000}

In [ ]:
#converting dict data in data frame
index=[1]
Dayta=pd.DataFrame(my_data,index)

In [ ]:
Dayta

   Gender  Age  EstimatedSalary
1       1   27            90000

In [ ]:
#Calculating the result of purchase for new customer
predictions=knn.predict(Dayta)

In [ ]:
print("result of purchase for new customer",predictions)

result of purchase for new customer [0]